:root {
  --color-theme: red;
  --color-theme-rgb: 255,0,0;

  --color: white;
  --background-color: black;
  --background-color-code: 0,0,0;
}

textarea:focus, input:focus{ outline: none; }
body {
  background-color: var(--background-color);
  color: var(--color);
  margin: 0;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 100vh;
}

a { text-decoration: none }
p { margin: 0 }