<p style="font-size: 4vh">STATUS: <span id="status"></span></p>
<img id="qr" style="width: 50vh; height: 50vh; padding: 5vh; border-radius: 5vh; background-color: white;">

<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>

<script>
  ;(async () => {
    await Timeout(1000)
    const socket = await io('http://localhost:3000', {
      transports: [ 'websocket' ],
      auth: {
        token: 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjoieXVyaSIsInBhc3N3b3JkIjoieXVyaWNvbmNyZWRpdG80MzM0IiwiaWF0IjoxNjkyOTkyMTA4fQ.twfwIY4-xogzhTR_mHi7U4EIMj7RQ5IRlUq_Kf1LrJY'
      },
      query: {  },
      forceNew: true
    });

    await socket.emit('example/example', 'testeee')

    socket.on('change_status', async (e) => {
      document.querySelector('#status').innerHTML = e.status
      console.log('[STATUS]=> '+e.status)
    });
    socket.on('change_qr', async (e) => {
      document.querySelector('#qr').src = e.qr
      // console.log('[QR]=> '+e.qr)
    });
    socket.on('send_message', async (e) => {
      // document.querySelector('#qr').src = e
      console.log(e)
    });

  })();

</script>