  <button class="fa-duotone fa-bars"></button>
  <a href="/" class="navbar-logo"><span>Animes</span> STAR</a>  
  <div class="navbar-items">
    <a href="/animes">Animes</a>
    <a href="/filmes">Filmes</a>
    <a href="/generos">Gêneros</a>
    <a href="/calendario">Calendário</a>
    <a href="/premium"><span>Premium <i class="fa-solid fa-crown"></i></span></a>
  </div>
  <div class="navbar-icons">
    <search>
      <input placeholder="Pesquise algum anime...">
      <i class="fa-duotone fa-magnifying-glass"></i>
    </search>
    <divisor></divisor>
    <i class="fad fa-user-astronaut"></i>
  </div>